.label {
  color: var(--input-color);
  padding-left: 8px;
}

.input_container {
  width: 28rem;
  color: var(--border-color);
  padding: 0;
  border: 1px solid var(--main-bg-color);
  border-radius: 1rem;
}

.name_input {
  font-size: 1rem;
  border: 0;
  outline: none;
  padding: 0 1.5rem;
  opacity: 0.2;
  justify-content: none;
  height: 4rem;
}
