:root {
  --main-bg-color: #0054fd;
  --border-color: #d9e0e6;
  --input-border: #729cf0;
  --input-color: #8292a1;
  --white-color: #ffffff;
}

.section {
  padding: 3rem;
}

.login_icon {
  width: 38rem;
  height: 33rem;
}

.h1_tag {
  font-size: 3rem;
  margin: 8px 0;
}

.login_right_pos {
  position: absolute;
  right: 3rem;
  top: 3rem;
  z-index: 9;
}

.login_container {
  width: 43rem;
  height: 79vh;
  border-radius: 1rem;
  padding: 2rem;
  background-color: var(--white-color);
  box-shadow: -16px 4px 35px 0px #00000008;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  border-radius: 2.5rem;
  border: 2px solid var(--border-color);
  color: var(--main-bg-color);
  background-color: var(--white-color);
  padding: 1rem 6rem;
  cursor: pointer;
}

.bg_btn {
  background-color: var(--main-bg-color);
  color: var(--white-color);
  margin-left: 2rem;
}

.btn_container {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background: var(--white-color);
  border-radius: 1rem;
  padding: 20px;
  margin: 100px auto;
  width: 26rem;
  height: 26rem;
  text-align: center;
}

.modal_icon {
  font-size: 3rem;
  color: var(--main-bg-color);
}

.h2_tag {
  font-weight: 600;
  color: #3f3e3e;
  margin: 8px;
}

.small_tag {
  color: #565656;
}

.details_container {
  border-radius: 1.5rem;
  background: #f5f5f5;
  margin: 1rem 0;
}

.details_container_2 {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.value {
  margin: 0;
  color: #181d27;
  font-size: 14px;
}

.title {
  margin: 0;
  color: #717680;
  font-size: 14px;
}

.details_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secure_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_green {
  color: #047647;
}

.dashboard_btn {
  font-size: 14px;
  font-weight: 500;
  margin-top: 2rem;
  margin-left: 0;
  width: 15.63rem;
  padding: 1rem 4rem;
  background-color: var(--main-bg-color);
  color: var(--white-color);
  border-radius: 2.375rem;
  border: 2px solid var(--border-color);
  cursor: pointer;
}

.p_bar_container {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-bottom: 4px;
}

.progress_bar {
  width: 35rem;
  height: 5px;
  margin-left: 5rem;
  background-color: var(--white-color);
  border: 0.5px solid var(--main-bg-color);
  border-radius: 12px;
  overflow: hidden;
}

.progress_fill {
  height: 100%;
  width: 60%;
  background-color: var(--main-bg-color);
  transition: width 0.5s ease-in-out;
}
