.input {
  border: 1px solid var(--input-border);
  border-radius: 12px;
  height: 4.75rem;
  width: 5.81rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select_input {
  border: 0;
  color: var(--input-color);
}

.number_input {
  width: 20rem;
  padding: 0 2rem;
  color: var(--input-color);
}

.flex_container {
  display: flex;
  gap: 1rem;
}

.small_tag_color {
  color: var(--input-color);
}

.color_red {
  color: #ff7c52;
}

.login_right {
  gap: 8px;
}
